* {
   margin: 0;
   padding: 0;
}
:root {
  --main-font-color:    #000000;    /* Font color */
  --main-font-hover:    #0099c8;    /* Font color */
  --main-font-style:    Arial;      /* Font color */
  --main-menu-height:   50px;       /* Font color */
}

/* Simple Responsive Drop Down Menu */

#primary_nav_wrap ul {
    list-style:none;
    position:relative;
    float: left;
    margin-right: 20px;
    padding:0;
}
#primary_nav_wrap ul a {
    display:block;
    color: var(--main-font-color);
    font-family: var(--main-font-style), sans-serif;
    height: var(--main-menu-height);
    text-decoration:none;
    font-weight:500;
    font-size:13px;
    margin-right: 10px;
    line-height: var(--main-menu-height);
    padding:0 20px;
}
#primary_nav_wrap ul a:hover {
    color: var(--main-font-hover);
}
#primary_nav_wrap ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0px;
}
#primary_nav_wrap ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0
}
#primary_nav_wrap ul ul li {
    float:none;
    width:160px;
}
#primary_nav_wrap ul ul a {
    display:block;
    background-color: white;
    color: black;
    font-family: var(--main-font-style), sans-serif;
    height: var(--main-menu-height);
    text-decoration:none;
    font-weight:500;
    font-size:13px;
    margin-right: 10px;
    line-height: var(--main-menu-height);
    padding:0 20px;
}
#primary_nav_wrap ul ul ul {
    top:0;
    left:100%
}
#primary_nav_wrap ul li:hover > ul {
    display:block;
}
#primary_nav_wrap ul ul a:hover {
    background-color: var(--main-font-hover);
    color: white;
}
#header-bottom-right {
    float: right;
    width: 120px;
    height: 30px;
}
.main-menu {
    display: block;
    height: 100px;
    width: 100%;
    margin: 0px;  
    z-index: 9;
}
#hamburger-input{
    display: none;
}
#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: "Quicksand", sans-serif !important;
    background: linear-gradient(
        to bottom, 
        var(--main-font-hover), var(--main-font-hover) 20%, 
        white 20%, white 40%, 
        var(--main-font-hover) 40%, var(--main-font-hover) 60%, 
        white 60%, white 80%, 
        var(--main-font-hover) 80%, var(--main-font-hover) 100%
        );
}
#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 400px;
    height: 100%;
    background-color: white;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}
#hamburger-menu h3 {
    color: var(--main-font-hover);
    font-size: 2.2rem;
}
#hamburger-menu ul {
    padding-left: 0px;
}
#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}
#hamburger-menu a {
    color: var(--main-font-hover);
    font-size: 1.3rem;
    text-decoration: none;
}
#hamburger-menu a:hover {
    text-decoration: underline;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}
@media screen and (max-width: 825px) {
    .main-menu {
        display: none;
    }
    #hamburger-menu {
        display: inline;
    }
    .head-left {
        float: right !important;
        width: 100px !important;
    }
    .head-left img {
        float: right;
    }
    .head-left h1 {
        display: none;
    }
    .lefts-con {
        display: none;
    }
}

/* /Simple Responsive Drop Down Menu */